WcfService/WcfService/Connected Services/ServiceReference1/MyHostService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyHostService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:7421/MyHostService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:7421/MyHostService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyHostService_GetFilePath_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePath" />
  </wsdl:message>
  <wsdl:message name="IMyHostService_GetFilePath_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFilePathResponse" />
  </wsdl:message>
  <wsdl:message name="IMyHostService_Registered_InputMessage">
    <wsdl:part name="parameters" element="tns:Registered" />
  </wsdl:message>
  <wsdl:message name="IMyHostService_Registered_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisteredResponse" />
  </wsdl:message>
  <wsdl:message name="IMyHostService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="IMyHostService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:portType name="IMyHostService">
    <wsdl:operation name="GetFilePath">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyHostService/GetFilePath" message="tns:IMyHostService_GetFilePath_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyHostService/GetFilePathResponse" message="tns:IMyHostService_GetFilePath_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Registered">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyHostService/Registered" message="tns:IMyHostService_Registered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyHostService/RegisteredResponse" message="tns:IMyHostService_Registered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyHostService/Login" message="tns:IMyHostService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyHostService/LoginResponse" message="tns:IMyHostService_Login_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMyHostService" type="tns:IMyHostService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetFilePath">
      <soap:operation soapAction="http://tempuri.org/IMyHostService/GetFilePath" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Registered">
      <soap:operation soapAction="http://tempuri.org/IMyHostService/Registered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/IMyHostService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyHostService">
    <wsdl:port name="BasicHttpBinding_IMyHostService" binding="tns:BasicHttpBinding_IMyHostService">
      <soap:address location="http://localhost:7421/MyHostService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>